
.item {
    width:280px;
    margin: 3px;
    position: relative;
}
.carou_tile {
    width:280px;
    margin: 3px;
    position: relative;
}

.item img {
    width:100%;
}

.text {
    color:#ffffff;
    display:none;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background: #999;
    background: rgba(0,0,0,0.3);
    text-align: center;
}

ul {
    font-size: 20px;
}

.list_carousel {
    width: 100%;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    width: 280px;
    height: 210px;
    padding: 0;
    margin: 3px;
    display: block;
    float: left;
}

.list_carousel li img {
    width: 280px;
    height: 210px;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
.prev {
    color:#000;
    float: left;
    margin-left: 10px;
    font-size: 3em;
}
.next {
    color:#000;
    font-size: 3em;
    float: right;
    margin-right: 10px;
}

.prev:hover{
    color:#999;
}
.next:hover{
    color:#999;
}
