body {
    padding-top: 20px;
    background-image:url('../img/sheet-metal.png');
    background-repeat:repeat;
    background-size:32px 32px;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.nav-justified > li > a {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    background-color: #e5e5e5; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-left: 1px solid #fff;
        border-right: 1px solid #d5d5d5;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-radius: 0 5px 5px 0;
        border-right: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}

#logo-graphic
{
    background-image: url('/img/turtle_logo.png');
    background-size:114px 141px;
    height:141px;
    width:114px;
    margin-bottom:50px;
    margin-left: 70px;
}


#logo-font
{
    color: #333333;
    font-size: 72px;
    font-family: Helvetica;
    font-style: oblique;
    font-weight: bold;
    text-align:left;
    padding-top:10px;
    font-size:400%;

}

#logo-font-small
{
    color:#333333;
    font-size: 24px;
    font-family: Helvetica;
    font-style: oblique;
    font-weight: normal;
    height:24px;
    width:1200px;
    padding-left: 35px;
    margin-top: -25px;
    font-size:50%;

}

@media only screen and (max-width: 1182px) {
    #logo-font-small
    {
        padding-left:25px;
    }
}

@media only screen and (max-width: 990px) {
    #logo-font
    {
        font-size:350%;
        margin-left:200px;
        margin-top:-180px;
        padding-bottom: 100px;
    }
    #logo-font-small
    {
        width:500px;
        padding-left:25px;
    }
}

/* fix small font left padding */
@media only screen and (max-width: 767px) {
    #logo-font-small
    {
        padding-left:0px;
    }
}

/* tablets */
@media only screen and (max-width: 730px) {
    #logo-font
    {
        font-size:300%;
        padding-bottom:100px;
    }
    #logo-font-small
    {
        width:500px;
    }
}

/* small window*/
@media only screen and (max-width: 450px) {
    #logo-font
    {
        font-size:300%;
        padding-bottom:50px;
        margin-left:-25px;
        margin-top:0px;
        text-align:center;
    }
    #logo-font-small
    {
        text-align:center;
        padding-bottom:50px;
        padding-left:0px;
        margin-left:-67px;
        font-size:20px;
    }
    #logo-graphic
    {
        margin-left:100px;
    }
}

/* note 3 */
@media only screen and (max-width: 395px) {
    #logo-font
    {
        font-size:300%;
        padding-bottom:50px;
        margin-left:-20px;
        margin-top:0px;
        text-align:center;
    }
    #logo-font-small
    {
        text-align:center;
        padding-bottom:50px;
        padding-left:0px;
        margin-left:-85px;
        font-size:15px;
    }
    #logo-graphic
    {
        margin-left:90px;
    }
}

/* iphone */
@media only screen and (max-width: 320px) {
    #logo-font
    {
        margin-left:-20px;
    }
    #logo-font-small
    {
        margin-left:-110px;
    }
    #logo-graphic
    {
        margin-left:70px;
    }
}

h3
{
    color: #333333;
    font-size: 24px;
    font-family: Helvetica;
    font-style: oblique;
    font-weight: bold;
    padding-bottom: 30px;

}
.realtree_light_background
{
    background: url("../img/realtree/light_background.PNG");
}
.spacer
{
    margin-top: 2%;
}

.text_shaddow
{
    text-shadow: 3px 3px darkgray;
}

.bold
{
    font-weight: bold;
}